<div class="profile-page">
    <!-- Left column: profile image & summary -->
    <div class="profile-left">
        <div class="profile-photo">
            <img [src]="user.ProfilePhotoUrl || 'https://tse3.mm.bing.net/th/id/OIP.BrIw2jsHGAiKMR-a9OUPbwHaE8?pid=Api&P=0&h=180'"
                alt="Profile Photo">
        </div>
        <h2>
            {{ user.firstName }} {{ user.lastName }}
            <i class="fa-solid fa-circle-check" style="color: #63E6BE;" title="Active"></i>
        </h2>

        <!-- Download QR Sticket -->
        <div class="badge QR-Wrapper">
            <button mat-raised-button color="primary" class="downloadqr-btn" title="Download QR Sticker PDF"
                (click)="downloadQR(email)">Download QR <i class="fa-solid fa-circle-down"></i></button>
        </div>

        <!-- Update Profile Button -->
        <div class="badge">
            <button mat-raised-button color="primary" class="update-profile-btn" (click)="openDialog()"
                title="User Can Update Profile Details"> Update
                Profile</button>
        </div>
    </div>
</div>