<div class="register-wrapper">
    <div class="register-card">
        <h2>Create Account</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="email-wrapper">
                <input class="form-control" formControlName="email" type="email" placeholder="Enter your email" />
                <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error-text">
                    Please enter a valid email
                </div>
            </div>

            <div class="acceptTNC">
                <input class="form-check-input" type="checkbox" formControlName="acceptTNC">
                <label class="form-check-label">Accept Terms & Conditions.</label>
            </div>

            <button class="register-btn" type="submit" [disabled]="form.invalid">
                Register
            </button>

            <p class="login-text">
                Already Registered? <a routerLink="/auth/login">Login</a>
            </p>
        </form>
    </div>
</div>