.layout {
    display: flex;
    height: 100vh;
}

// app-sidebar {
//     width: 240px;
//     background: #2c3e50;
//     color: white;
// }

.content {
    flex: 1;
    // padding: 20px;
    background: #f5f6fa;
}