<div class="register-wrapper">
    <div class="register-card">
        <h2>Create Account</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input class="form-control" formControlName="email" type="email" placeholder="Enter your email" />
            <div *ngIf="form.controls.email.invalid && form.controls.email.touched" class="error-text">
                Please enter a valid email
            </div>

            <button class="register-btn" type="submit" [disabled]="form.invalid">
                Register
            </button>

            <p class="login-text">
                Already Registered? <a routerLink="/login">Login</a>
            </p>
        </form>
    </div>
</div>