<h2 mat-dialog-title>Add Driver</h2>

<mat-dialog-content>
    <form #editForm="ngForm" class="form-container">
        <!-- Email -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="data.email" name="email" type="email">
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">
        Save
    </button>
</mat-dialog-actions>