.not-found {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 3rem;
    color: #f44336;
}

p {
    font-family: 'Inter', sans-serif;
}

a {
    color: #0275d8;
    text-decoration: underline;
    cursor: pointer;
}